# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.exe~

# Test binary, build output
*.out
*.test
*.log
*.tmp
bin/

# Output of the go command
gowork.sum
gowork.mod

# Dependency directories (remove the leading / if working from the subdirectory)
vendor/

# IDE and editor specific files
.idea/
.vscode/
*.swp

# OS specific files
.DS_Store
Thumbs.db

# User specific files
.env

# Docker specific files
docker-compose.override.yml

