services:
  db:
    image: postgres:18-alpine
    container_name: auth-base-postgres
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    env_file:
      - ../.env
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
