services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../.env
    ports:
      - "${API_PORT:-8080}:${API_PORT:-8080}"
    restart: always
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    restart: always
    env_file:
      - ../.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
