services:
  db:
    image: postgres:18rc1
    container_name: photo-chef-postgres
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - photo_chef_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    env_file:
      - ../.env
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  photo_chef_data:
