services:
  db:
    image: postgres:18-alpine
    container_name: ${PROJECT_NAME:-auth-base}-db-dev
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: ${PROJECT_NAME:-auth-base}-pgadmin-dev
    restart: always
    env_file:
      - ../.env
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  postgres_data:
    name: ${PROJECT_NAME:-auth-base}_pg_data_dev
  pgadmin_data:
    name: ${PROJECT_NAME:-auth-base}_pgadmin_data_dev
